{% extends "base.html" %}
{% block content %}

{% for user in users%}
<h1>{{user.first_name}}, manage your account:</h1>
{% endfor %}


{% for user in users %}

<h3>Budget:</h3>
<div class="account_details">
    Current Budget: £{{user.budget}}

    <form action="/account/{{user.id}}" method="POST">
        <div>
          <label for="budget">New Budget:</label>
          <input type="number" id="budget" name="budget" placeholder="500.00" required autofocus>
        </div>
        <br>
        <button type="submit">Update Budget</button>
    </form>
    <br>
    <hr>

<h3>Personal Details:</h3>
        <div class="account_details">
            <form action="/account/{{user.id}}" method="POST">
                <div>
                <label for="first_name">{{user.first_name}}, what's your new forename?</label>
                <input type="text" id="first_name" name="first_name" placeholder="Samwise">
                </div>
                <br>
                <button type="submit">Update Forename</button>
            </form>
        <br>

        <div class="account_details">
            <form action="/account/{{user.id}}" method="POST">
                <div>
                  <label for="last_name">{{user.first_name}}, what's your new surname?</label>
                  <input type="text" id="last_name" name="last_name" placeholder="Gamgee">
                </div>
                <br>
                <button type="submit">Update Surname</button>
            </form>
        <br>
        
        <div class="account_details">
            <form action="/account/{{user.id}}" method="POST">
                <div>
                  <label for="dob">Did we get your birthday ({{user.dob}}) wrong?</label>
                  <input type="date" id="dob" name="dob">
                </div>
                <br>
                <button type="submit">Update Date of Birth</button>
            </form>
        <br>

        <div class="account_details">
            <form action="/account/{{user.id}}" method="POST">
                <div>
                  <label for="city">Moved from {{user.city}}? Where do you stay now?</label>
                  <input type="text" id="city" name="city" placeholder="The Shire">
                </div>
                <br>
                <button type="submit">Update City</button>
            </form>
        <br>

        <div class="account_details">
            <form action="/account/{{user.id}}" method="POST">
                <div>
                  <label for="email">Should we reach you on {{user.email}}, or not?</label>
                  <input type="text" id="email" name="email" placeholder="badsméagol@gmail.com">
                </div>
                <br>
                <button type="submit">Update Email</button>
            </form>      
    </div>
  </div>
{% endfor %}

{% endblock %}