{% extends "base.html" %}
{% block content %}

{% for user in users%}
<h1>{{user.first_name}}, manage your account:</h1>
{% endfor %}

    {% for user in users %}
    <div class="account-details">
        <form action="/account/{{user.id}}" method="POST">
            <div>
                <label for="budget">What's your budget for this month?</label>
                <input type="number" id="budget" name="budget" value={{user.budget}} required autofocus>
            </div>
            <br>
            <div>
                <label for="first_name">Forename</label>
                <input type="text" id="first_name" name="first_name" value={{user.first_name}}>
            </div>
            <br>
            <div>
                <label for="last_name">Surname</label>
                <input type="text" id="last_name" name="last_name" value={{user.last_name}}>
            </div>
            <br>
            <div>
                <label for="dob">Go shorty... 🎂🎉</label>
                <input type="date" id="dob" name="dob" value={{user.dob}}>
            </div>
            <br>
            <div>
                <label for="city">Still living in {{user.city}}?</label>
                <input type="text" id="city" name="city" value={{user.city}}>
            </div>
            <br>
            <div>
                <label for="email">Best to reach you on {{user.email}}?</label>
                <input type="text" id="email" name="email" value={{user.email}}>
            </div>
            <br>
            <button class="submit-button" type="submit">Update Details</button>
        </form>
    {% endfor %}
    </div>

{% endblock %}