{% extends "base.html" %}
{% block content %}

<div>
  <h1>Update: {{category.category_name}}</h1>
  <p>Current Status: 
    {% if category.inactive == False %} 
      Active
    {% else %}
      Inactive
    {% endif %}
  </p>
  <hr>
</div>

<div>
  <form action="/categories/{{category.id}}" method="post">    
    <button type="submit">Update Category</button>
    <div>
      <label for="category">Name:</label>
      <input type="text" id="category_name" name="category_name" value="{{category.name}}" required autofocus>
    </div>

    <div>
      <label for="inactive">Set Category Status:</label>
        <select id="inactive" name="inactive">
          <option value="false">Active</option>
          <option value="true">Inactive</option>
        </select>
    </div>
  </form>
</div>

{% endblock %}
