body {
    font-family: "Helvetica", arial, sans-serif; font-size: 16px;
    margin: 0px
}

header {
    grid-area: header;
    background-color: black;
    margin: 0px;
    padding-top: 1rem;
    padding-bottom: 1rem
}

.main-content {
    grid-area: main;   
    padding: 2rem;
}

.sidebar {
    grid-area:sidebar; 
}

footer {
    grid-area: footer; 
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: black;
    color: white;
    padding: 2rem;
}

.menu {
    display: flex;
    color: white;
}
    
.menu li a {
text-decoration: none;
}

.menu li a:visited {
color: white;
}

.menu li a:hover {
text-decoration: underline;
}

.menu li {
padding-right: 1rem;
list-style: none;
color: white;
font-family: "Helvetica", arial, sans-serif; font-size: 16px;
}

.transaction {
border: 2px solid #ccc;
width: 300px;
min-height: 68px;
padding: 10px;
display: flex;
line-height: 18px;
margin-bottom: 10px;
}

.buttons {
margin-top: 10px;
margin-left: 2px;
font-size: 1.4em;
color: #aab8c2;
}

.buttons i {
width: 80px;
}

input, select, button {
font-size: 100%;
width : 100%;
padding: 10px;
margin: 10px;
box-sizing: border-box;
}

.trash-button{
display: contents;
font-size: 65%;
}

footer {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: black;
    color: white;
    padding: 2rem;
}

#grid-container {
    display: grid;
    grid-template-areas: 
    'header header'
    'main sidebar'
    'footer footer';
    grid-template: 30% 70%;
}

.all-transactions {
    display: flex;
    justify-content:space-evenly;
    flex-direction:row;
    flex-wrap: wrap;
}