#grid-container {
    display: grid;
    grid-template-areas: 
    'nav logo'
    'main main'
    'footer footer';
    grid-template: 7fr 3fr;
}

body {
    font-family: 'Mulish', 'sans-serif';
    margin: 0px
}

header {
    background-color: black;
    margin: 0px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.head-logo {
    grid-area: logo;
    justify-content: right;
    align-items: center;
    display: flex;
    background-color: black;
    padding-right: 2rem;
    flex-wrap: wrap;
}

.main-content {
    grid-area: main;   
    padding: 2rem;
}

.menu {
    grid-area: nav;
    display: flex;
    color: white;
}
    
.menu li a {
    text-decoration: none;
}

.menu li a:visited {
    color: white;
}

.menu li a:hover {
    text-decoration: underline;
}

.menu li {
    padding-right: 1rem;
    list-style: none;
    color: white;
    font-size: 16px;
}

.all-transactions {
    display: flex;
    justify-content:space-evenly;
    flex-direction:row;
    flex-wrap: wrap;
}

.transaction {
    border: 2px solid #ccc;
    width: 300px;
    min-height: 68px;
    padding: 10px;
    display: flex;
    line-height: 18px;
    margin-bottom: 10px;
}

.all-merchants {
    display: flex;
    justify-content:space-evenly;
    flex-direction:row;
    flex-wrap: wrap;
}

.merchant {
    border: 2px solid #ccc;
    width: 300px;
    min-height: 68px;
    padding: 10px;
    display: flex;
    line-height: 18px;
    margin-bottom: 10px;
}

.all-categories {
    display: flex;
    justify-content:space-evenly;
    flex-direction:row;
    flex-wrap: wrap;
}

.category {
    border: 2px solid #ccc;
    width: 300px;
    min-height: 68px;
    padding: 10px;
    display: flex;
    line-height: 18px;
    margin-bottom: 10px;
}

.edit-item {
    margin: 10px;
}

.edit-item a:hover {
    text-decoration: underline;
}

.edit-link {
    text-decoration: none;
    color: black;
}

.buttons {
    margin-top: 10px;
    margin-left: 2px;
    font-size: 1.4em;
    font-family: 'Mulish', 'sans-serif';
    color: #aab8c2;
}

.buttons i {
width: 80px;
}

input, select, button {
    font-size: 100%;
    width : 100%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    font-family: 'Mulish', 'sans-serif';
}

.submit-button:hover {
    font-size: 100%;
    width : 100%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    font-family: 'Mulish', 'sans-serif';
    border-color: black;
    border-style:double;
    color:green;
    }

.buttons-delete {
    margin-top: 10px;
    margin-left: 2px;
    font-size: 1.4em;
    font-family: 'Mulish', 'sans-serif';
    background-color: white;
    color: black;
    border-color: red;
}

.delete-form :hover {
    background-color: red;
    color: white;
    border-color: black;
    text-decoration: underline;
}

.buttons-delete i {
    width: 80px;
}

input, select, .buttons-delete {
    font-size: 100%;
    width : 100%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    font-family: 'Mulish', 'sans-serif';
    }

.active-tag {
    color: green;
}

.inactive-tag {
    color: red;
}

footer {
    grid-area: footer; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: white;
    padding: 2rem;
}

.sitemap {
    display: flex;
    color: white;
}
    
.sitemap li a {
    text-decoration: none;
}

.sitemap li a:visited {
    color: white;
}

.sitemap li a:hover {
    text-decoration: underline;
}

.sitemap li {
    padding-right: 1rem;
    list-style: none;
    color: white;
    font-size: 16px;
}
