<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='tablet.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='mobile.css') }}">
  <title>SpendHacker 💸</title>
</head>
<body>
  <div id="grid-container">
    <header>
        <nav class="nav">
          <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/transactions/">Transactions</a></li>
            <li><a href="/merchants/">Merchants</a></li>
            <li><a href="/categories/">Categories</a></li>
            <li><a href="/account/">Account</a></li>
          </ul>
        </nav>
    </header>
    <div class="head-logo">
      <img src="/static/images/SpendHackerLogo30.svg">
    </div>
      <section class="main-content">
        {% block content %}
        {% endblock %}
      </section>
    <footer>
      <nav class="nav-flex">
        <ul class="sitemap">
          <li>© SpendHacker 2023 💸</li>
          <li><a href="/">Home</a></li>
          <li><a href="/transactions/">Transactions</a></li>
          <li><a href="/merchants/">Merchants</a></li>
          <li><a href="/categories/">Categories</a></li>
          <li><a href="/account/">Account</a></li>
        </ul>
      </nav>
    </footer>
  </div>
</body>
</html>