{% extends "base.html" %}
{% block content %}
<section class="dashboard-content">
<hr class="dashboard-hr">
<br>
{% for user in users%}
<h1 id="dashboard-title">{{user.first_name}}'s Dashboard</h1>
{% endfor %}
  
    <div class="dashboard-flex">   
        <div class="insight">
            <div class="content">
                <p class="insight-title">Total Tracked</p>
                <p class="insight-output">£{{total_value}}</p>
            </div>
        </div>

        <div class="insight">
            <div class="content">
                <p class="insight-title">Current Budget</p>
                {% for user in users %}
                    {% if user.budget > total_value %}
                        <p class="under-budget">💰£{{user.budget}}💰</p>
                    {% else %}
                        <p class="over-budget">🔥£{{user.budget}}🔥</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="insight">
            <div class="content">
                <p class="insight-title">Total Merchants</p>
                <p class="insight-output">{{num_merchants}}</p>
            </div>
        </div>
 
        <div class="insight">
            <div class="content">
                <p class="insight-title">Total Categories</p>
                <p class="insight-output">{{num_categories}}</p>
            </div>
        </div>
    </div>
<br>
<hr class="dashboard-hr">
</section>
{% endblock %}