{% extends "base.html" %}
{% block content %}
<section class="main-content">
<div>
  <h1>Update {{merchant.merchant_name}}</h1>
    <div>
      {% if merchant.inactive == False %} 
        <p class="active-tag">Merchant Active</p>
      {% else %}
        <p class="inactive-tag">Merchant Inactive</p>
      {% endif %}
    </div>
  <hr>
</div>

<div>
  <form action="/merchants/{{merchant.id}}" method="post"> 
    <div>
      <label for="merchant">Name:</label>
      <input type="text" id="merchant_name" name="merchant_name" value="{{merchant.name}}" required autofocus>
    </div>

    <div>
      <label for="inactive">Set Merchant Status:</label>
        <select id="inactive" name="inactive">
          <option value="false">Active</option>
          <option value="true">Inactive</option>
        </select>
    </div>
    <button class="submit-button" type="submit">Update Merchant</button>
  </form>
</div>
</section>
{% endblock %}