{% extends "base.html" %}
{% block content %}

<form action="/transactions" method="post">
  <div>
    <label for="merchant">Merchant:</label>
    <input type="text" id="merchant" name="merchant" placeholder="Merchant?" required autofocus>
  </div>

  <div>
    <label for="tx_value">Spent:</label>
    <input type="number" id="tx_value" name="tx_value" placeholder="Transaction Amount?" required>
  </div>

  <div>
    <label for="category">Category:</label>
    <input type="text" id="category" name="category" placeholder="Category?" required>
  </div>

  <div>
    <label for="time_stamp">Transaction Date:</label>
    <input type="text" id="time_stamp" name="time_stamp" placeholder="Category?" required>
  </div>

  <div>
    <label for="user">User:</label>
    <select id="user" name="user_id">
      {% for user in all_users %}
        <option value="{{ user.id }}">{{ user.first_name }}</option>
      {% endfor %}
    </select>
  </div>

  <button type="submit">Add Transaction</button>

</form>

{% endblock %}