{% extends "base.html" %}
{% block content %}

<h1>Your Transactions</h1>
    <ul>
      <li>You've tracked <strong>£{{total_value}}</strong> of spending </li>
      <li>You've spent £X (value_last_seven) this week at X merchants</li>
    </ul>
    <hr>

  <h3>Add a new transaction:</h3>
    <form action="/transactions" method="POST">  
      <div>
        <label for="tx_value">Spent:</label>
        <input type="number" id="tx_value" name="tx_value" step="any" placeholder="10.00" required>
      </div>
      
      <div>
        <label for="merchant_name">At:</label>
        <select id="merchant_name" name="merchant_name">
          {% for merchant in merchants %}
            {% if merchant.inactive == False %}
              <option value="{{ merchant.merchant_name }}">{{ merchant.merchant_name }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>

      <div>
        <label for="category_name">Under:</label>
        <select id="category_name" name="category_name">
          {% for category in categories %}
            {% if category.inactive == False %}
            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>

      <div>
        <label for="time_stamp">On:</label>
        <input type="datetime-local" step="1"id="time_stamp" name="time_stamp" required>
      </div>

      <div>
        <label for="user">For:</label>
        <select id="user" name="user_id">
          {% for user in users %}
            <option value="{{ user.id }}">{{ user.first_name }}</option>
          {% endfor %}
        </select>
      </div>

      <br>
      <button type="submit">Add Transaction</button>
  </form>
<br>

<div class="sidebar" style="width:100%"><div style="height:0;padding-bottom:56.69291338582677%;position:relative;width:100%"><iframe allowfullscreen="" frameBorder="0" height="100%" src="https://giphy.com/embed/qXR53U25GPeocwivdd/video" style="left:0;position:absolute;top:0" width="100%"></iframe></div></div>

<br>
<hr>

<h3>Filter your transactions:</h3>
<p>placeholder for filter form</p>
  <div class="all-transactions">   
    {% for transaction in transactions %}
      <div class="transaction">
        <div class="content">
          <p class="tx_value">Spent: £{{transaction.tx_value}}</p>
          <p class="tx_merchant">At: {{transaction.merchant_name}}</p>
          <p class="tx_category">Under: {{transaction.category_name}}</p>
          <p class="tx_time_stamp">On: {{transaction.time_stamp}} </p>
        </div>
      </div>
  {% endfor %}
  </div>

{% endblock %}